# Python
__pycache__/
*.py[cod]
*.class

# Virtual Environment
.env
.venv
venv/

# IDE
.idea/
.vscode/

# Test and Reports
reports/screenshots/
*.log
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# Project specific
*.ini
*.json
!config/config.ini
!config/test_data.json
